################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/homomorphic-iota/v15/.suo
/Homomorphic Iota/.vs/Homomorphic Iota/v15/Server/sqlite3
/Homomorphic Iota/bin/Debug
/Homomorphic Iota/obj
/Homomorphic Iota/result.txt
/Homomorphic Iota/.vs/Homomorphic Iota/v15
/iotaTest/.vs/iotaTest/v15
/iotaTest/iotaTest/bin/Debug
/iotaTest/iotaTest/obj/Debug
/iotaTest/packages
/Homomorphic Iota/result_all.txt
