################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/homomorphic-iota/v15/.suo
/Homomorphic Iota/.vs/Homomorphic Iota/v15/Server/sqlite3
/Homomorphic Iota/bin/Debug
/Homomorphic Iota/obj
/Homomorphic Iota/result.txt
/Homomorphic Iota/.vs/Homomorphic Iota/v15
